/* Basic styling for the pop-up */
.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

/* Class to make the pop-up visible */
.popup.show {
    opacity: 1;
}

/* Hidden by default */
.hidden {
    display: none;
}

/* The how-to-play popup container */
.popup-instractions {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 1000; /* Sit on top */
    overflow: hidden; /* Prevent scrolling of the main page */
}

/* Popup how-to-play content */
.how-to-play {
    background-color: white;
    margin: 5% auto; /* Adjust margin for better centering */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: left;
    overflow-y: auto; /* Enable vertical scrolling within the popup */
    max-height: 80vh; /* Restrict the height of the popup */
}

/* Close button */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1001; /* Ensure the button is above the content */
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Styling for the color indicators */
.green {
    color: #6aaa64;
    font-weight: bold;
    margin-right: 12px;
}

.yellow {
    color: #c9b458;
    font-weight: bold;
    margin-right: 12px;
}

.gray {
    color: #787c7e;
    font-weight: bold;
    margin-right: 12px;
}

.color-explaination {
    text-align: left;
}

.color-explaination li {
    margin-bottom: 15px; /* Adds space between list items */
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Align items vertically */
}

.example_image {
    margin-bottom: 10px; /* Adds space between the image and the text */
    height: auto; /* Maintain aspect ratio */
}

.bold{
    text-align: left;
    font-weight: bold;
}

.top-left-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Optional: Adds space from the top and left edges */
}

.top-right-image{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px; 
    height: auto; /* Maintain aspect ratio */
    margin: 10px; 
}

.top-second-right-image{
    position: absolute;
    top: 0px;
    right: 50px;
    width: 40px; 
    height: auto; /* Maintain aspect ratio */
    margin: 10px; 
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
/* Modal Content */
.modal-content {
    border-radius: 10px;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}
  
/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
/* Remove Table Borders */
#statsTable {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}
  
#statsTable th, #statsTable td {
    padding: 10px;
    text-align: center;
    border: none; /* Remove borders */
}
  
#statsTable th{
    font-size: 12px;
}


  
/* Styling for Guess Distribution Bars */
#guessDistribution {
    text-align: left;
    margin-top: 10px;
}


/* The guess number (left side) */
.guessBar .guessNumber {
    font-size: 14px;
    background-color: white;
    color: black;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px 0 0 5px;
    display: inline-block;
  }
  
  /* The guess count bar (right side) */
  .guessBar .guessCount {
    font-size: 14px;
    text-align: right;
    margin-top: 2px;
    color: white;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    border-radius: 0 5px 5px 0;
    background-color: #d3d3d3; /* Default to gray */
  }
  
  /* Gray background for inactive guesses */
  .guessBar.gray .guessCount {
    background-color: #787c7e;
  }
  
  /* Green background for active guess */
  .guessBar.green .guessCount {
    background-color: #6aaa64;
  }
  
  
 /* The popup (hidden by default) */
.whoAmIpopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Popup content */
.whoAmIpopup-content {
    border-radius: 10px;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
} 